@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: white;
}

html {
	scroll-behavior: smooth;
}

body {
    /* overflow: hidden; */
    padding-left: 30px;
    padding-right: 20px;
    background-color: #000000;
}

h1 {
    text-align: left;
    color: white;
    font-size: 50px;
    margin-left: 10px;
    margin-top: 80px;
}

.title {
    margin: auto;
    margin-left: -60px;
    margin-right: 0px;
    margin-top: -55px;
    outline: 10px;
    outline-color: black;
}

h2 {
    text-align: left;
    color: white;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.container_dsa {
    padding: 2px 16px;
    text-align: center;
    background-color: none;
}

.container_category {
    padding: 2px 16px;
    text-align: center;
    background-color: none;
}

ul {
    list-style-type: none;
    overflow: hidden;
    top: 0;
    margin-top: 15px;
}

hr {
    color: #161925;
}

.topnav ul li {
    float: left;
}

li {
    margin-bottom: 0px;
  }

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li, h4 {
    font-size: larger;
}

.experience, .competitions {
    background-color: none;
}

.footer {
    background-color: none;
    text-align: end;
    margin-bottom: 0px;
    margin-top: 0px;
}

a {
    border-radius: 0px;
    border-color: #8ea8c3;
    text-align: center;
    float: right;
}

.topnav {
    margin-top: 35px;
    color: white;
    overflow: hidden;
    float: right;
}
  

.topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #949494;
    cursor: pointer;
    transition: 0.5s;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.photography-bar-black, .html-bar-black, .python-bar-black, .ppt-bar-black {
    color: white;
    background-color: black;
    text-align: center;
}

.photography-bar-white, .html-bar-white, .python-bar-white, .ppt-bar-white {
    color: white;
    background-color: white;
}

.scratch-card {
    background-color: #778da9;
    float: left;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    margin-left: 20px;
}

.scratch-card a {
    text-decoration: none;
    background-color: #353f4f;
    padding: 10px;
    border-radius: 10px;
}

.scratch-card a:hover {
    text-decoration: none;
    background-color: #4f5d75;
    padding: 10px;
    border-radius: 10px;
}

.home-nav {
    float: left;
}

.back-to-top a {
    float: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.back-to-top a:hover, .back-to-top-GUI a:hover {
    color: #949494;
    cursor: pointer;
    transition: 0.5s;
}

.back-to-top-GUI {
    background-color: #353f4f;
    border-radius: 10px;
    position: fixed;
    float: right;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: black, 10px;
    margin-bottom: 10px;
    border-bottom: 100px;
}

.back-to-top-GUI a {
    padding: 10px;
    float: right;
    padding-bottom: 20px;
    text-align: left;
}
